@media(max-width: 700px) {
    .exercicio {
        text-align: center;
        padding: 10px;
    }
    .exercicio li {
        display: grid;
        padding: 20px 0px;
        font-family: "kalam";
    }
    }