@media(max-width: 700px) {
    .indicadores {
        text-align: center;
        padding: 20px;
    }
    .indicadores li {
        display: grid;
        padding: 20px 0px;
    }
    .indicadores a {
        padding: 40px;
        background-color: #066314;
        font-size: 1.7rem;
        font-family: "kalam";
        border-radius: 5px;
        color: #FFF
    }
    }